[submodule "proto"]
	path = proto
	url = git@github.com:doroke7/casino-protocol-proto.git
[submodule "sample"]
	path = sample
	url = git@github.com:doroke7/landan-sample-golang.git
[submodule "runs"]
	path = runs
	url = git@github.com:doroke7/landan-ai-yolo-runs.git
